<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sandy.attendancemanager">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:theme="@style/SplashTheme"
            android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubjectsActivity"
            android:label="Your Subjects" />
        <activity
            android:name=".TimeTableActivity"
            android:label="Your Time Table" />
        <activity
            android:name=".DetailsActivity"
            android:label="Your Attendance" />
        <activity
            android:name=".ManageAttendanceActivity"
            android:label="Attendance Manager" />
        <activity
            android:name=".ManualAttendanceActivity"
            android:label="Attendance Manager" />
        <activity
            android:name=".EditAttendanceActivity"
            android:label="Attendance Manager" />

    </application>

</manifest>